@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.active {
    color: red;
    font-weight: bold;
}

.title {
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

h4, p, button { margin-left: 20px; }
